<section class="cards">

    <div class="card-info">

        <h4>

            Total

        </h4>

        <span>

            {{ total }}

        </span>

    </div>

    <div class="card-info">

        <h4>

            Competência

        </h4>

        <span>

            {{ competencia_atual or "Todas" }}

        </span>

    </div>

    <div class="card-info">

        <h4>

            Hoje

        </h4>

        <span>

            {{ hoje }}

        </span>

    </div>

</section>