<div id="modalExcluir" class="modal">

    <div class="modal-box modal-small">

        <div class="modal-header">

            <i class="fa-solid fa-triangle-exclamation"></i>

            <h2>Arquivar justificativa</h2>

        </div>

        <div class="modal-body">

            <p>
                Deseja arquivar esta justificativa?
            </p>

            <p class="modal-info">
                Ela poderá ser restaurada posteriormente.
            </p>

            <div class="modal-actions">

                <button
                    id="cancelarExcluir"
                    class="btn-secundario">

                    Cancelar

                </button>

                <button
                    id="confirmarExcluir"
                    class="btn-danger">

                    Excluir

                </button>

            </div>

        </div>

    </div>

</div>