<div
    id="redefinirSenhaModal"
    class="modal">

    <div class="modal-content">

        <button
            id="fecharRedefinirSenha"
            class="fechar-modal">

            ×

        </button>

        <h2>

            Redefinir senha

        </h2>

        <input
            type="password"
            id="novaSenha"
            placeholder="Nova senha">

        <button
            id="salvarNovaSenha"
            class="btn-principal">

            Salvar

        </button>

    </div>

</div>