<div class="cards-grid">

    <div class="card-info">

        <h3>

            Usuários

        </h3>

        <span id="totalUsuarios">

            —

        </span>

    </div>

    <div class="card-info">

        <h3>

            Pendentes

        </h3>

        <span id="usuariosPendentes">

            —

        </span>

    </div>

    <div class="card-info">

        <h3>

            Bloqueados

        </h3>

        <span id="usuariosBloqueados">

            —

        </span>

    </div>

</div>